<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Framework</title>
</head>

<body>
    <h1>Hello World</h1>
    <div>
        <label for='message'>Enter your message here</label>
        <br>
        <br>
        <input id='inputMsg' name='message' type="text" />
        <br>
        <br>
        <button id='btnSend'>Send</button>
    </div>
    <div>
        <ul id='listMessages'>

        </ul>
    </div>
    <script src='/scripts/frontend.js'></script>
</body>

</html>